html, body { 
    height: 100%;
    width: 100%; 
    overflow:hidden; 
}

body {
    background: #5F9EA0;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 1.8em;
}
.cover {
    position:absolute;
    background: linear-gradient(#444, rgba(100, 100, 100, 0.5), rgba(255,255,255,0));
    height: 150px;
    width: 100%;
    top:0;
    left:0;
    z-index: 50;
    display: none;
}
.drop {
    z-index: 30;
}
.loading {
    color: white;
    position: absolute;
    width:100%;
    font-size: 50px;
    margin-top: -25px;
    text-align: center;
    top: 50%;
}
.image {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index:1;
    top:0;
    left:0;
    display: none;
}
.clouds {
    position:absolute;
    top:0;
    width: 100%;
    height: 150px;
    z-index: 100;
    overflow:hidden;
    opacity: 0;
}
.cloud1, .cloud2, .cloud3 {
    background: url("https://www.dropbox.com/s/zjdl85j4afrepyp/oblak.png?dl=0&raw=1") no-repeat;
    position:absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation-name: cloudy;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.cloud1 {
    left: -150px;
    animation-duration: 14s;
}
.cloud2 {
    left: -250px;
    animation-duration: 20s;
}
.cloud3 {
    left: -150px;
    top: 30px;
    animation-duration: 25s;
}
.drop {
    width: 1px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(#aaa, #aaa, #59f, #555);
    background: -webkit-linear-gradient(#aaa, #aaa, #59f, #555);
    background:#fff;
    z-index:1;
    overflow: hidden;
}
.content-container {
    position: absolute;
    background-color: rgba(0,0,0, .3);
    width: 100%;
    height: 100%;
    overflow:hidden;
    z-index: 999;
    color: #fff;
    display: none;
}
p {
    color: #fff;
}
.row1 {
    height: 60%;
}

.row3 {
    height: 40%;
    
}

.temp:after{
    content:"°C";
    font-size: 15px;
    position: absolute;
    top: 5%;
}

.sun { 
    position: absolute;
    top: 50px;
    left: 80px;
    margin: auto;  
    width:55px;
    height:55px;
    border-radius:50%;    
    background:#ff8;
    opacity:0.9;
    z-index: 10;
    display: none;
    box-shadow: 0px 0px 45px 10px #ffa;
    -webkit-animation: rays 120s linear infinite;
    animation: rays 120s linear infinite;
}
.rays {
    position: relative;
    top:0;
    left:0;
}
.ray {  
    background: -webkit-linear-gradient(top, rgba(255,255,200,0.2) 0%, rgba(255,255,200,0.8) 50%, rgba(255,255,200,0.1) 100%);
    background: linear-gradient(top, rgba(255,255,150,0.2) 0%, rgba(255,255,200,0.8) 50%, rgba(255,255,200,0.1) 100%); 
    margin-left:10px;
    border-radius:80% 80% 0 0;
    position:absolute;
    opacity:0.2;
}
.ray1 {
    height:140px;
    width:30px;
   -webkit-transform: rotate(250deg);
    top:-70px;
    left: 90px;
}
.ray2 {
    height: 80px;
    width: 25px;
   -webkit-transform: rotate(30deg);
    top:50px;
    left: -30px;
}
.ray3 {
    height:110px;
    width:17px;
   -webkit-transform: rotate(120deg);
    top:-65px;
    left: -70px;
}
.ray4 {
    height:40px;
    width:10px;
   -webkit-transform: rotate(175deg);
    top:-45px;
    left: 10px;
}
.ray5 {
    height:50px;
    width:10px;
   -webkit-transform: rotate(-30deg);
    top:50px;
    left: 40px;
}

.night {
    display: none;
}
.stars, .twinkling {
    position:absolute;
    background:#000;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}
.twinkling {
    background:transparent url("https://www.dropbox.com/s/mkl135l50poipe5/twinkling.png?dl=1&raw=1") repeat top center;
    z-index:3;
    -webkit-animation: move-patch200s linear infinite;
    animation: move-patch 200s linear infinite;
}
.moon {
    width: 45px;
    height: 45px;
    background: white;
    z-index: 5;
    border-radius: 50%;
    box-shadow: 0 0 2px 10px white;
    position: absolute;
    left: 40px;
    top: 20px;
}
.spot1, .spot2, .spot3 {
    position: relative;
    border-radius: 50%;
}
.spot1 {
    width: 20px;
    height: 10px;
    background: #ddd;
}
.spot2 {
    left: 25px;
    width: 25px;
    height: 20px;
    background: #bbb;
}
.spot3 {
    left: 10px;
    top: 5px;
    width: 20px;
    height: 15px;
    background: #ccc;
}



@-webkit-keyframes rays { 
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }    
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes cloudy {
    to { left: 100%; }
}
@-webkit-keyframes cloudy {
    to { left: 100%; }
}
@keyframes move-patch {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-patch {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

