body, html {
  margin: 0;
  background-color:  rgb(27,27,27);
font-family: 'Roboto', sans-serif;
  color: antiquewhite;
}


html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  
}

h1, p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 20px;
}

div {
  height: 100%;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: 0px 0px 6px rgba(255, 255, 255, 0.966);
}

ul {
  margin: 0;
}
.mic{
    display:block;
 margin:auto;
}
.downPart{
z-index:9;
position: fixed;
height:80px;
    bottom: 0;
  background-color: rgba(255, 255, 255, 0.075);
  -webkit-box-shadow: 0px -9px 16px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -9px 16px -9px rgba(0,0,0,0.75);
  box-shadow: 0px -9px 16px -9px rgba(0,0,0,0.75);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
svg{
display: block;
width: 100%;
height: 100%;
padding: 0;
margin: 0;
position:absolute;

}

path{
stroke-linecap: square;
stroke: white;
stroke-width: 0.5px;
}